body{
    margin:0;
}

header, sub{
    position: fixed;
    display: inline-block;
}

header {
    z-index:1;
    top:0;
    width:100%;
    height: 70px;
    padding: 10px;
    background : wheat;
    border-bottom: black 1px solid;
}

sub {
    z-index:2;
    top:90.8px;
    left:0;
    width:300px;
    height:100%;
    background : lightyellow;
    border-right: black 1px solid;
}

main{
    margin-left: 310px;
    margin-top:100px;
    margin-right:10px;
}